/* 
============
    Header
============= 
*/

.profile-img-container {
  width: 317px;
  height: 317px;
  border-radius: 12px;
}
.profile-img-container img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}