.footer {
  background-color: #161619;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 12px 12px;
  transition: all 1s linear;
}

.footer span a {
  display: inline-block;
  font-size: 2rem;
  color: #918e9b;
  margin-left: 1rem;
  cursor: pointer;
}
.footer span a:hover {
  color: #ffffff;
  transform: scaleY(1.1);
}
