* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  display: grid;
  place-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: Inter, "Arial Narrow Bold", sans-serif;
}

.App {
  margin-top: 2rem;
  max-width: 390px;
  max-height: 90vh;
  border-radius: 12px;
}
